# Copyright 2026 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

menuconfig BT_PASSTHRU
	bool "Enable Bluetooth passthrough"
	help
	  Enable Bluetooth passthrough host commands to route HCI data
	  between the AP and the BT Controller.

if BT_PASSTHRU

module = BT_PASSTHRU
module-str = BT Passthru
source "subsys/logging/Kconfig.template.log_config"

config BT_PASSTHRU_SENDER
	def_bool y
	select BT
	select BT_HCI_RAW

config BT_PASSTHRU_HOST_TRANSPORT
	def_bool y
	select PIGWEED_SPAN
	select PIGWEED_STATUS
	select PIGWEED_FUNCTION

# Default buffer sizes to support HCI Command routing
config BT_BUF_CMD_TX_SIZE
	default 255

config BT_BUF_EVT_RX_SIZE
	default 255

config BT_BUF_EVT_RX_COUNT
	default 16

config BT_BUF_ACL_TX_COUNT
	default 3

config BT_BUF_ACL_TX_SIZE
	default 251

config BT_BUF_ACL_RX_SIZE
	default 255

config BT_MAX_CONN
	default 16

config BT_PASSTHRU_INIT_PRIORITY
	int "BT passthru stack init priority"
	default 91
	help
	  Initialization priority of the BT passthrough subsystem during the
	  POST_KERNEL phase. This should occur after the physical Bluetooth
	  HCI hardware drivers are initialized.

config BT_PASSTHRU_THREAD_PRIORITY
	int "BT passthru RX thread priority"
	default 5
	help
	  Set the priority of the dedicated BT passthrough RX thread.
	  Note: If this thread handles time-sensitive HCI events, consider
	  a higher (lower number) priority.

config BT_PASSTHRU_STACK_SIZE
	int "BT passthru thread stack size"
	default 2048
	help
	  Size of the stack assigned to the BT passthrough RX thread.
	  The thread handles incoming HCI packets and routes them to
	  the Host Transport ring buffer.

endif # BT_PASSTHRU
