# Copyright 2022 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

if BOARD_MEC172X

# Zephyr internal stack sizes

configdefault IDLE_STACK_SIZE
	default 400

configdefault SYSTEM_WORKQUEUE_STACK_SIZE
	default 1024

# Chromium EC stack sizes

configdefault TASK_CHARGER_STACK_SIZE
	default 1056

configdefault TASK_KEYSCAN_STACK_SIZE
	default 1024

configdefault TASK_PD_STACK_SIZE
	default 1184

configdefault TASK_PD_INT_STACK_SIZE
	default 1024

configdefault TASK_USB_CHG_STACK_SIZE
	default 1024

endif # BOARD_MEC172X
