# Copyright 2025 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

configdefault UART_NS16550_WA_ISR_REENABLE_INTERRUPT
	default y

if REALTEK_RTS5912_RTMR

configdefault PM
	default y

configdefault SYS_CLOCK_HW_CYCLES_PER_SEC
	default 32768

configdefault SYS_CLOCK_TICKS_PER_SEC
	default 32768

endif # REALTEK_RTS5912_RTMR

if WATCHDOG

configdefault PLATFORM_EC_WATCHDOG_HELPER
	default y

configdefault WDT_COUNTER
	default y

endif # WATCHDOG

if ADC

configdefault PLATFORM_EC_ADC_RESOLUTION
	default 12

endif # ADC

configdefault KERNEL_ENTRY
	default "__trampoline" if REALTEK_RTS5912_TRAMPOLINE

