# Copyright 2025 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

config BOARD_REALTEK
	# Allow generating initial 0 line coverage.
	select HAS_COVERAGE_SUPPORT
	select SOC_RTS5912

config REALTEK_RTS5912_TRAMPOLINE
	bool "Add trampoline at start of flash"
	default n
	help
	  Add a trampoline function at the start of flash to jump to the
	  actual entry point (vector table). This option is used when
	  loading images directly into RAM using the rtkupdate utility.

