# Copyright 2026 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

config TEST_OCELOT_RVP_BOARD_ID
	bool "Ocelot RVP board ID tests"
	help
	  Enable tests for Ocelot RVP SKU-to-board-ID mapping in
	  rvp_board_id.c.

source "Kconfig.zephyr"
