# Copyright 2021 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

if BOARD_IT8XXX2

configdefault CROS_EC_HOOK_TICK_INTERVAL
	default 500000

configdefault SYS_CLOCK_HW_CYCLES_PER_SEC
	default 32768

configdefault SYS_CLOCK_TICKS_PER_SEC
	default 32768

if ADC
configdefault PLATFORM_EC_ADC_RESOLUTION
	default 10
endif # ADC

if CONSOLE
configdefault UART_CONSOLE
	default y
endif # CONSOLE

if FLASH
configdefault PLATFORM_EC_CONSOLE_CMD_FLASH
	default y
endif # FLASH

if SERIAL
configdefault UART_INTERRUPT_DRIVEN
	default y
endif # SERIAL

if WATCHDOG
configdefault PLATFORM_EC_WATCHDOG_PERIOD_MS
	default 2500
configdefault WDT_ITE_WARNING_LEADING_TIME_MS
	default 500
configdefault WDT_ITE_REDUCE_WARNING_LEADING_TIME
	default y
endif # WATCHDOG

if PLATFORM_EC_VBOOT_HASH
configdefault SOC_IT8XXX2_SHA256_HW_ACCELERATE
	default y
choice PLATFORM_EC_SHA256_MODE
	default PLATFORM_EC_SHA256_HW_ACCELERATE if SOC_IT8XXX2_SHA256_HW_ACCELERATE
endchoice
endif # PLATFORM_EC_VBOOT_HASH

if SRAM_SIZE >= 128
configdefault LTO
	default n

configdefault SOC_IT8XXX2_SERIAL_IN_RAM
	default y if !LTO

configdefault SOC_IT8XXX2_KERNEL_IN_RAM
	default y if !LTO

configdefault SOC_IT8XXX2_ZEPHYR_IN_RAM
	default y if !LTO
endif # SRAM_SIZE

if RISCV_PMP
configdefault PMP_DATA_EXECUTION_PREVENTION
	default n

configdefault PMP_NO_LOCK_GLOBAL
	default y if CROS_EC_RO
endif # RISCV_PMP

configdefault SOC_IT8XXX2_UART_TX_STRATPPING_PIN
	default y if SOC_IT8XXX2_REG_SET_V2 && CROS_EC_RO

endif # BOARD_IT8XXX2
