# Copyright 2026 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

config PLATFORM_EC_HOSTCMD_POWER_BUTTON_PRESS
	bool "Enable power button press host command"
	default n
	depends on HAS_HOSTCMD
	help
	  Command used to simulate up to 2 power button presses from the host
	  with configurable delay and duration.

config PLATFORM_EC_POWER_BUTTON_KEYBOARD
	bool "Power button is on the keyboard matrix"
	depends on PLATFORM_EC_TABLET_MODE
	help
	  Enable this option if the power button is located on the keyboard matrix.
	  This enables logic to suppress power button events in S0 tablet mode
	  to prevent accidental activation.
