# Copyright 2022 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

if PLATFORM_EC_USB_POWER_DELIVERY

choice SVDM_RSP_CHOICE
	prompt "SVDM handler implementation"
	# Default value is the first listed choice that has satisfied
	# dependencies: this defaults to DFP_ONLY if possible.
	help
	  Select how USB-PD Structured Vendor Defined Messages (SVDM) will be
	  handled.

config PLATFORM_EC_SVDM_RSP
	bool "SVDM Response Support"
	help
	  Respond to Structured VDM requests using the common
	  SVDM response implementation.

	  The SVDM response indicates the device has
	  Type-C receptacles and supports USB 3.2 including USB4 and
	  Thunderbolt(TBT) support when enabled by platform configuration.

config SVDM_RSP_CUSTOM
	bool "Custom"
	help
	  The application defines SVDM handler functions appropriate to its
	  feature set by populating fields of the svdm_rsp struct:

	      __override const struct svdm_response svdm_rsp = { ... };

	  If any pointer in this struct is NULL, that command is unsupported:
	  matching SVDM commands that are received will be ignored and a
	  Not_Supported reply sent if required. If no definition __overrides
	  the default, all SVDM commands are treated as unsupported.

endchoice
endif  # PLATFORM_EC_USB_POWER_DELIVERY
