# Copyright 2021 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Zephyr Kconfig overrides that applies to all platforms.

# Disable timeslicing, it's compiled in by default and can be enabled at
# runtime but not used in Zephyr EC.
configdefault TIMESLICING
	default n

configdefault TIMEOUT_64BIT
	default n

configdefault LOG
	default y

configdefault LOG_DEFAULT_MINIMAL
	default y if LOG

configdefault GPIO
	default y if ARCH_POSIX

configdefault THREAD_MAX_NAME_LEN
	default 16

configdefault SHELL_PROMPT_UART
	default "ec:~> "

configdefault SHELL_VT100_COLORS
	default n

configdefault SHELL_THREAD_PRIORITY_OVERRIDE
	default y

configdefault SHELL_THREAD_PRIORITY
	default 28

configdefault EXTRA_EXCEPTION_INFO
	default y if ARCH_HAS_EXTRA_EXCEPTION_INFO

configdefault FLASH_PAGE_LAYOUT
	default n

configdefault ESPI_NPCX_PERIPHERAL_DEBUG_PORT_80_MULTI_BYTE
	default y

choice INPUT_MODE
	default INPUT_MODE_SYNCHRONOUS
endchoice

configdefault INPUT_NPCX_KBD
	default n if PLATFORM_EC_KEYBOARD_CROS_EC_RAW_KB

configdefault OUTPUT_DISASSEMBLY
	default y

configdefault SHELL_BACKEND_SERIAL_INIT_PRIORITY
	default 51

configdefault I2C_ALLOW_NO_STOP_TRANSACTIONS
	default y

configdefault COMMON_LIBC_MALLOC
	default n

config FLASH_LOAD_SIZE
	default $(dt_node_int_prop_hex,/binman/wp-ro/ec-ro,size) if CROS_EC_RO
	default $(dt_node_int_prop_hex,/binman/ec-rw,size) if CROS_EC_RW

configdefault LTO
	default y if !X86 && !SOC_POSIX

# For clang, this option sets the LTO optimization flag to "-flto=full"
# instead of "-flto=thin" and yields smaller images.
# For gcc, this option sets the LTO optimization flag to "-flto=1" instead
# of "-flto=auto".  There is no size difference detected between these
# settings on gcc.
configdefault LTO_SINGLE_THREADED
	default y

# Must use config instead of configdefault so ISR_TABLES_LOCAL_DECLARATION can be
# enabled on RISC-V targets where GEN_IRQ_VECTOR_TABLE is not set, which is
# required for LTO.
config ISR_TABLES_LOCAL_DECLARATION
	default y

configdefault CURRENT_THREAD_USE_TLS
	default n

configdefault I2C_TRANSFER_TIMEOUT_MS
	default 100

configdefault DEVICE_API_ASSERT
	default n

config EC_HOST_CMD
	default n if ARCH_POSIX
	default y if AP && !HECI
	select EC_HOST_CMD_IN_PROGRESS_STATUS
	select EC_HOST_CMD_DEDICATED_THREAD if ZTEST

orsource "Kconfig.defaults-$(ARCH)"
