/* Copyright 2026 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#include <cros/thermistor/thermistor.dtsi>

/ {
	temp_sensor_pmic: pmic {
		compatible = "cros-ec,temp-sensor-thermistor";
		thermistor = <&thermistor_3V3_100K_100K_4250B>;
		adc = <&adc_temp_pmic>;
	};
	temp_sensor_ambient: ambient {
		compatible = "cros-ec,temp-sensor-thermistor";
		thermistor = <&thermistor_3V3_100K_100K_4250B>;
		adc = <&adc_temp_ambient>;
	};
	temp_sensor_ssd: ssd {
		compatible = "cros-ec,temp-sensor-thermistor";
		thermistor = <&thermistor_3V3_100K_100K_4250B>;
		adc = <&adc_temp_ssd>;
	};
	temp_sensor_charger: charger {
		compatible = "cros-ec,temp-sensor-thermistor";
		thermistor = <&thermistor_3V3_100K_100K_4250B>;
		adc = <&adc_temp_charger>;
	};

	named-temp-sensors {
		compatible = "cros-ec,temp-sensors";
		temp_pmic: pmic {
			sensor = <&temp_sensor_pmic>;
		};
		temp_ambient: ambient {
			sensor = <&temp_sensor_ambient>;
		};
		temp_ssd: ssd {
			sensor = <&temp_sensor_ssd>;
		};
		temp_charger: charger {
			sensor = <&temp_sensor_charger>;
		};
	};
};

&thermistor_3V3_100K_100K_4250B {
	status = "okay";
};
