# Copyright 2025 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.


menuconfig FINGERPRINT_SENSOR_EGIS630
	bool "Fingerprint driver for EGIS630"
	default y
	depends on DT_HAS_EGIS_EGIS630_ENABLED
	help
	  Driver for EGIS630 fingerprint sensor. It requires EGIS private library
	  to implement cros_fingerprint API. If the library is not available it
	  only supports checking sensor hardware ID.

if FINGERPRINT_SENSOR_EGIS630

config FINGERPRINT_SENSOR_EGIS630_HEAP_SIZE
	int "Size of heap for EGIS630 driver"
	default 108544
	help
	  Size of heap to be used by EGIS private library. The heap must have
	  enough size to keep finger templates during matching.
	  106KB is enough to match 3 templates at once.

config FINGERPRINT_SENSOR_EGIS630_PAL
	bool "Platform Abstraction Layer for EGIS private library"
	default y if HAVE_EGIS630_PRIVATE_DRIVER
	help
	  If enabled, Platform Abstraction Layer for EGIS private library will be
	  compiled. The PAL is used to interact with the sensor (SPI, GPIO) and
	  the system (heap allocations, printing messages, time functions).

# Enabled in private driver Kconfig
config HAVE_EGIS630_PRIVATE_DRIVER
	bool
	default n
	help
	  If enabled, it indicates that the private driver is present.

endif # FINGERPRINT_SENSOR_EGIS630

menuconfig FINGERPRINT_SENSOR_EGIS660
	bool "Fingerprint driver for EGIS660"
	default y
	depends on DT_HAS_EGIS_EGIS660_ENABLED
	help
	  Driver for EGIS660 fingerprint sensor. It requires EGIS private library
	  to implement cros_fingerprint API. If the library is not available it
	  only supports checking sensor hardware ID.

if FINGERPRINT_SENSOR_EGIS660

choice FINGERPRINT_SENSOR_EGIS660_COVER
	prompt "EGIS660 sensor cover type"
	default FINGERPRINT_SENSOR_EGIS660_COVER_SPRAY_COATING if $(dt_compat_all_has_prop,$(DT_COMPAT_EGIS_EGIS660),cover-type,spray-coating)
	default FINGERPRINT_SENSOR_EGIS660_COVER_GLASS if $(dt_compat_all_has_prop,$(DT_COMPAT_EGIS_EGIS660),cover-type,glass)
	default FINGERPRINT_SENSOR_EGIS660_COVER_GLASS if $(dt_compat_any_not_has_prop,$(DT_COMPAT_EGIS_EGIS660),cover-type)
	help
	  Select the cover type of the EGIS660 sensor to use the appropriate
	  private library. This should match the cover-type property in the
	  device tree.

config FINGERPRINT_SENSOR_EGIS660_COVER_GLASS
	bool "Glass cover"
	help
	  Select this option for EGIS660 sensor with glass cover.

config FINGERPRINT_SENSOR_EGIS660_COVER_SPRAY_COATING
	bool "Spray coating"
	help
	  Select this option for EGIS660 sensor with spray coating cover.

endchoice

config FINGERPRINT_SENSOR_EGIS660_HEAP_SIZE
	int "Size of heap for EGIS660 driver"
	default 153600
	help
	  Size of heap to be used by EGIS private library. The heap must have
	  enough size to keep finger templates during matching.
	  150KB is enough to match 3 templates at once.

config FINGERPRINT_SENSOR_EGIS660_PAL
	bool "Platform Abstraction Layer for EGIS private library"
	default y if HAVE_EGIS660_PRIVATE_DRIVER
	help
	  If enabled, Platform Abstraction Layer for EGIS private library will be
	  compiled. The PAL is used to interact with the sensor (SPI, GPIO) and
	  the system (heap allocations, printing messages, time functions).

config FINGERPRINT_SENSOR_EGIS660_APNS
	bool "EGIS660 APNS storage"
	default y
	depends on $(dt_nodelabel_enabled,egis660_apns_data)
	help
	  If enabled, the APNS(Adaptive Pixel Noise Suppression) data generated
	  during the enroll and match can be stored on APNS storage.

# Enabled in private driver Kconfig
config HAVE_EGIS660_PRIVATE_DRIVER
	bool
	default n
	help
	  If enabled, it indicates that the EGIS660 private driver is present.

endif # FINGERPRINT_SENSOR_EGIS660
